<div class="container">
  <div class="row">
    <div class="forgot text-center">
      <h1 class="c-white">FORGOT PASSWORD</h1>
      <div class=" col-sm-offset-3 col-sm-6">
        <%= form_tag forgotpasswords_path do %>
            <%= text_field_tag :email, nil, placeholder: "email", :class=>"form-control",:required => true%>
        <%= submit_tag 'Password Reset',:class=>"btn btn-success marg-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
