<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Twitznepal.com, <%= @user.name %></h1>
  <p>
    your password is: <%= @userp%>
  </p>
  <p>Your password has been recovered!</p>
</body>
</html>
