<div class="show">
  <div class="container">
    <div class="col-md-6">
      <div class="show-prof">
        <h2> Edit Profile</h2>
          <%=  form_for @user do |f| %>
             <% if @user.errors.any? %>
             <ul>
               <% @user.errors.full_messages.each do |e| %>
                  <li> <%= e %></li>
               <% end %>
             </ul>
             <% end %>
            <%= f.label :email, :for=>"nameField" %><br>
          <%= f.text_field :email, type: :email, :class=>"form-control"
           %>

          <%= f.label :name,:for=>"descField" %><br>
          <%= f.text_field :name, :class=>"form-control"
           %>

          <%= f.label :username, :for=>"usernameField" %><br>
          <%= f.text_field :username, :class=>"form-control" %>

          <%= f.label :password,:for=>"descField" %><br>
          <%=f.password_field :password, :class=>"form-control"
           %>

          <%= f.label :password_confirmation,:for=>"descfield" %><br>
          <%=f.password_field :password_confirmation , :class=>"form-control"
           %>
           <%= f.label :Avatar,:for=>"descfield" %><br>
          <%=f.file_field :avatar_url , :class=>"form-control"
           %>
            <%= f.label :bio,:for=>"descField" %><br>
          <%= f.text_area :bio, :class => "form-control text-area"%>
        <%= f.submit 'Update!!',:class=>"btn btn-success marg-5" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'twitzs' %>
