<div class="show">
  <div class="container">
    <div class="col-md-6">
      <div class="show-prof">
       <h2>Friends' Twitz</h2>
         <% @twitzs.each do |twitz| %>
          <a href=" <%= user_path twitz.user %>">
            <img src="<%= twitz.user.avatar_url%>" class="img-responsive" alt="Image">
            <span><%= twitz.user.name %></span>
          </a>
          <span>@<%= twitz.user.username %></span>
          <span class="time"><%= time_ago_in_words(twitz.created_at) %>&nbsp;ago</span>
          <p>
            <%= twitz.content %>
          </p>
        <% end %>
      </div>
    </div>
    <div class=" col-md-offset-2 col-md-3">
     <% if current_user %>
      <h2>Create a Twitz</h2>
        <p>
        <%= form_for @twitz do |t| %>
        <%= t.text_area :content, :id=>"twitztxt",:class=>"text-area", :required=> true%>
        <%= t.submit "Twitz!!!", :class=>"btn btn-success marg-5", :id=> "twitzbtn" %>
        <span class="c-white" id="CharCount">0</span>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'twitzs' %>
