<div class="show">
  <div class="container">
     <% if current_user %>
    <div class="col-md-3">
      <h2>Create a Twitz</h2>
        <p>
        <%= form_for @twitz do |t| %>
        <%= t.text_area :content, :id=>"twitztxt",:class=>"text-area", :required=> true%>
        <%= t.submit "Twitz!!!", :class=>"btn btn-success marg-5", :id=> "twitzbtn" %>
        <span class="c-white" id="CharCount">0</span>
        <% end %>
      </p>
      <% end %>
    </div>
    <div class="col-md-offset-2 col-md-6">
      <div class="show-prof">
       <h2>Public Profile</h2>
        <%@users.each do |user| %>
           <a href="<%= user_path user %>">
              <img src="<%= user.avatar_url%>" class="img-responsive" alt="Image">
              <span class="font-s"><%= user.name %></span>
            </a>
            <span>@<%= user.username %></span>
            <p>
              <%= user.twitzs.length %> Twitz
              <span class="spacing"><%= user.followers.length %>&nbsp;Followers</span>
              <span><%= user.followeds.length %>&nbsp;Following</span>
            </p>
            <% if user.bio  %>
                <p> <%= user.bio %></p>
            <% elsif user.twitzs.first %>
                <p> <%= user.twitzs.first.content %></p>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'twitzs' %>

