<!-- <div class="prof-backg marg-5">
      <img src="<%= asset_path('background.jpg') %>" class="img-responsive" alt="Image">
</div> -->
<div class="show">
  <div class="container">
    <div class="col-md-6">
      <div class="show-prof">
        <h2><%= @user.name %>'s TwitzNepal Profile
           <%= link_to("(Edit)", edit_user_path(@user)) if @user == current_user %>
        </h2>
        <img src="<%= @user.avatar_url%>" class="img-responsive" alt="Image">
        <span class="font-s"><%= @user.name %></span>
        <span>@<%= @user.username %></span>
        <p>
          <%= @user.twitzs.length %> Twitz
          <span class="spacing"><%= @user.followers.length %>&nbsp;Followers</span>
          <span><%= @user.followeds.length %>&nbsp;Following</span>
          <% if @user.bio %>
            <p> <%= @user.bio %></p>
          <% end %>
          <% if current_user && @user != current_user %>
            <% if current_user.following? @user %>
                <%= form_for @relationship, method: :delete do |f| %>
                    <%= f.submit "Unf ollow", :class=>"btn btn-success marg-5"  %>
                 <% end %>
            <% else %>
                 <%= form_for @relationship do |f| %>
                    <%= f.hidden_field :followed_id, value: @user.id %>
                    <%= f.submit "Follow", :class=>"btn btn-success marg-5"  %>
                 <% end %>
            <% end %>

          <% end %>
        </p>
      </div>
       <div class="show-prof marg-40">
          <h2>Twitz</h2>
          <div class="ribbitWrapper">
          <% @user.twitzs.each do |twitz| %>
                <img src="<%= twitz.user.avatar_url%>" class="img-responsive" alt="Image">
                <span class="font-s"><%= twitz.user.name %></span>
              <span>@<%= twitz.user.username %></span>
              <span class="time"><%= time_ago_in_words(twitz.created_at) %>&nbsp;ago</span>
              <p>
                <%= twitz.content %>
              </p>
            <% end %>
          </div>
        </div>
    </div>
    <% if current_user %>
    <div class="col-md-offset-2 col-md-3">
      <h2>Create a Twitz</h2>
        <p>
        <%= form_for @twitz do |t| %>
        <%= t.text_area :content, :id=>"twitztxt",:class=>"text-area", :required=> true%>
        <%= t.submit "Twitz!!!", :class=>"btn btn-success marg-5", :id=> "twitzbtn" %>
        <span class="c-white" id="CharCount">0</span>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'twitzs' %>
